*
!.gitignore
!snippets/*
!snippets
!keybindings.json
!extensions-local.list
!extensions-remote.list
!generate_local_extension.sh
!generate_remote_extension.sh
!extensions_local_sync.sh
!markdownlint.json
